<div class="rounded overflow-hidden shadow-lg">
  <img class="w-full"
       src="https://www.wbcsd.org/var/site/storage/images/media/page-assets/imperative/nature-action/nature-action-intro/243120-2-eng-GB/Nature-action-intro_i1140.jpg"
       alt="Sunset in the mountains">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{ article.title }}</div>
    <p class="text-gray-700 text-base">
      {{ article.content}}
    </p>
  </div>
  <app-tags [tags]="article.tags"></app-tags>
  <app-comments [articleId]="article.id"></app-comments>
</div>
