<div class="rounded overflow-hidden shadow-lg">
  <img class="w-full"
       [routerLink]="['/articles', article.id]"
       [src]="article.medias[0].url"
       alt="Sunset in the mountains">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{ article.title }}</div>
    <div class="flex gap-5">
      <p class="text-gray-700 text-base">
        By <span class="font-bold">{{ article.author.firstname }} {{ article.author.lastname }}</span>, Published in {{ getFormattedDate(article.createdAt) }}
      </p>
      <a *ngIf="isArticleAuthor(article.author.id)" [routerLink]="['/articles/update', article.id]"><i class="fa-solid fa-pen-to-square"></i></a>
    </div>
  </div>
</div>
